[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest.git
[submodule "deps/rib"]
	path = deps/rib
	url = https://ipads.se.sjtu.edu.cn:1312/weixd/rib.git
[submodule "deps/progress-cpp"]
	path = deps/progress-cpp
	url = https://github.com/prakhar1989/progress-cpp.git
[submodule "deps/eigen"]
	path = deps/eigen
	url = https://gitlab.com/libeigen/eigen.git
